[user]
	name = Abhishek Kulkarni
	email = adkulkar@indiana.edu
[color]
	branch = auto
	status = auto
	diff = auto
	ui = auto
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
[push]
	default = simple
